.footer {
  width: 317px;
  height: 64px;
  border-radius: 0px 0px 10px 10px;
  background: #161619;
  color: #918e9b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.footer a > * {
  width: 25px;
  height: 25px;
}

.footer a:hover {
  color: #f47d27;
}
